{%extends 'base.html'%}
{%block conteudo%}
{%load static%}


<div class="col-lg-12">
  <br><br>
  <div>
    <a href="{% url 'inicio'%}">
      <img src="/media/returno.ico" height="25" width="25">
    </a>
    Menu Principal
  </div>  
  <br>
{%if 'accounts' not in request.path%}
  <form method="get" action="{% url 'busca' %}">
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control"
              type="search" value="{{ request.GET.termo }}"
              id="search-input"
              placeholder="Digite sua pesquisa"
              name="termo">

              {%include 'parciais/_message.html'%}
      </div>
    </div>
  </form>
{%endif%}
  </div>
<div class="container">
  <h1 class="mt-5">Minha agenda</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      
      {% for contato in contatos%}
        {%if contato.mostrar%}
        <tr>
          <td>{{ contato.id }}</td>
          <td>
            <a href="{% url 'ver_contato' contato.id %}"> {{ contato.nome  }}</a>
          </td>
          <td>{{ contato.sobrenome  }}</td>
          <td>{{ contato.telefone  }}</td>
          <td>{{ contato.categoria  }}</td>
        </tr>
        {%endif%}
      {%endfor%}
    </tbody>
  </table>

  <nav aria-label="...">
    <ul class="pagination">
      {%for pagina in contatos.paginator.page_range%}
        {%if contatos.number == pagina%}
          <li class="page-item active"><a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a></li>
        {%else%}
        <li class="page-item"><a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a></li>

        {%endif%}
      {%endfor%}
    </ul>
  </nav>
</div>
{%endblock%}
